annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.13.0
click==8.3.2
colorama==0.4.6
fastapi==0.118.1
h11==0.16.0
idna==3.11
pydantic==1.10.14
python-multipart==0.0.22
python-docx==0.8.11
PyPDF2==3.0.0
sentence-transformers==2.2.2
huggingface_hub==0.16.4
spacy==3.6.0
starlette==0.46.0
typing-inspection==0.4.2
typing_extensions==4.15.0
uvicorn==0.43.0
